.sudokuElement
{
    width:5vw;
    height: 5vw;
    text-align: center;
    font-weight: bolder;
}

.sudokuElement::placeholder
{
    font-weight: normal;
}

.horizontalLine {
    background-color: black;
    width: auto;
    margin: 0;
    padding: 0;
    height: 3px;
    width: 49vw;
}
